.app-error {
    margin-top: 1rem;
    border-radius: 1.6rem;
    background-color: var(--color-alert-dark);
    color: var(--color-alert);
    width: 32rem;
    font-size: 1.6rem;
    padding: 2rem 2rem 3rem 2rem;
}

.app-error-icon {
    font-size: 250%;
    margin-bottom: 1rem;
}

.app-error-message {
    margin-bottom: 0.8rem;
}
