.city-list-dd-container {
    position: absolute;
    background-color: var(--color-lightest);
    border: 1px solid var(--color-dark);
    width: 100%;
    text-align: left;
    top: 0;
    z-index: -1;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    padding-top: 3.2rem;
}
