.App {
  text-align: center;
  background-color: Green;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* weather app styles */

/* --- loader ---
   src: https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
  border: none; /* 1rem solid var(--color-lightest-xparent); */
  border-radius: 50%;
  /* border-top: 1rem solid var(--color-accent); */
  -webkit-animation: loader-spin 2s linear infinite; /* Safari */
  animation: loader-spin 2s linear infinite;
  margin: 0 auto;
  color: var(--color-lightest);
}

.loader-big {
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  text-align: center;
  color: var(--color-bright);
}

.loader-small {
  border-width: 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* Safari */
@-webkit-keyframes loader-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.width-100 {
  width: 100%;
}

.ux-hinted-element-container {
  position: relative;
}

.ux-hint-rippler {
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-accent-xparent);
  color: var(--color-bright);
  top: 0;
  left: 0;
  margin: auto;
  width: 4rem;
  height: 4rem;
  padding-top: 0.8rem;
  border-radius: 2rem;

  animation-delay: 1.8s;
  animation-duration: 0.5s;
  animation-name: changeVisibility;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* transition: opacity 1s;
  transition-delay: 2s;
  opacity: 0; */
}

@keyframes changeVisibility {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.ux-hint-rippler::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5rem;
  border-width: 0.5rem;
  border-color: var(--color-bright-xparent);
  border-style: solid;
  content: " ";
  visibility: hidden;

  animation-duration: 0.6s;
  animation-name: changeSize;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
  /* animation-direction: alternate; */
}

@keyframes changeSize {
  from {
    width: 0.5rem;
    height: 0.5rem;
    visibility: visible;
  }
  to {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}
