.App {
  text-align: center;
  background-color: Green;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* weather app styles */

/* --- loader ---
   src: https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
  border: none; /* 1rem solid var(--color-lightest-xparent); */
  border-radius: 50%;
  /* border-top: 1rem solid var(--color-accent); */
  -webkit-animation: loader-spin 2s linear infinite; /* Safari */
  animation: loader-spin 2s linear infinite;
  margin: 0 auto;
  color: var(--color-lightest);
}

.loader-big {
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  text-align: center;
  color: var(--color-bright);
}

.loader-small {
  border-width: 0.5rem;
  width: 2rem;
  height: 2rem;
}

/* Safari */
@-webkit-keyframes loader-spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.width-100 {
  width: 100%;
}
